
form {
  color: whitesmoke;
  background-color: rgb(1, 26, 26);
  padding: 30px;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
h1 {
  color: rgb(0, 0, 0);
  background-color: rgb(135, 14, 248);
  max-width: 400px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
h3 {
  color: rgb(0, 0, 0);
  background-color: rgb(135, 14, 248);
  max-width: 400px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
